<body>

<div class='header'>{{header}}</div>
<div class="profile">
  <img class="profile-image" src="{{image}}" alt="{{name}}">
  <h1></h1>
  <div class="description"> {{description}} </div>
  <div class="gallery"><{{image}}/div>
  <a href="/profile/{{name}}/edit">Edit</a>
</div>
</body>


<footer>
<div class='footer'>{{footer}}</div>
</footer>


